* {
    background-color: #C0392B;
    align-self: center;
    text-align: center;
}

h1 {
    color: #3B8B7D;
}

.logo {
   width: 50%;
}

header .navegador li :hover {
    background: rgb(248, 108, 108);
}

.promo {
    width: 50%;
    height: 50%;
}

section {
    display: inline;
}

.card {
    display: inline-block;
    background: #ffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    text-align: left;
    border: 1px solid #070504;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 300px;
    height: 400px;
    }

img {
    border-radius:0.5rem;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
    
nav {
    display: inline-block;
}

ul {
    display: inline-flex;
    list-style-type: none;

}

li{
    margin: 0.5rem;
}

.tabla_precios {
    background: #FDF2E9;
}

th, td {
    text-align: left;
    color: black;
    
}

.botom_orden {
    background: #2E8B57;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.botom_orden:hover {
    background-color: #A93226;
    color: white;
}

.card:hover {
    background: #856042;
    scale: 1.3;
    transition: 2s;
    
}

footer {
    display: inline-flex;
    padding: 1rem;
    text-align: center;
}
footer a {
    padding: 1rem;
    
}



