<footer>
    <div class="container">
        <div class="row">
            <section class="col-xs-6 col-s-3" icon-footer>
                <img src="/Proyecto ecomerTech/IMG/icon-shipping.png" alt="icono shopping" width="40px" height="40px">
                <p><strong>Envios gratis</strong><br> Por $500000 de compra</p>
            </section>   
            <section class="col-xs-6 col-s-3" icon-footer>
                <img src="/Proyecto ecomerTech/IMG/icon-refund.png" alt="icono devoluciones" width="40px" height="40px">
                <p><strong>Devolucion gratis</strong><br> Dentro de los 30 dias</p>
            </section>   
            <section class="col-xs-6 col-s-3" icon-footer>
                <img src="/Proyecto ecomerTech/IMG/icon-customer-service.png" alt= "icono atencion al cliente"  width="40px" height="40px">
                <p><strong>Atencion al cliente </strong><br> Lunes a sabado de 9 a 18 horas</p>
            </section>   
            <section class="col-xs-6 col-s-3" icon-footer>
                <img src="/Proyecto ecomerTech/IMG/icon-secure.png"  alt="icono pago seguro" width="40px" height="40px">
                <p><strong>Pago seguro</strong><br>100% confianza</p>
            </section>   
         
            <p>Aprendiendo con Kiko Palomares Academy </p>
        </div>
    </div>

    </footer>
