<img src="/Proyecto ecomerTech/techzone.png" alt="Logo" width="200px" alt="Logo de TechZone">
<ul id="menu">
    <li><a href="#" class="active">Ofertas</a></li>
    <li><a href="#">PC Escritorio</a></li>
    <li><a href="#">Notebooks</a></li>
    <li><a href="#">Monitores</a></li>
    <li><a href="#">Procesadores</a></li>
    <li><a href="#">Almacenamiento</a></li>
    <li><a href="#">Memoria Ram</a></li>
    <li><a href="#">Placas de Video</a></li>
    <li><a href="#">Auriculares y Microfonos</a></li>
    <li><a href="#">Placas de Video</a></li>
    <li><a href="#">Parlantes y Audio</a></li>
    <li><a href="#">Contacto</a></li>
</ul>