<H1 class="title-products">Ofertas</H1>
<div class="row">
    <section class="col-xs-12">
        <form>
            <input type="search" class="searh-input" name="search" placeholder="Busca articulo">
        </form>
        <section> 
            <select name="select-order" id="order">
            <option value="#">Precio mas bajo</option>
            <option value="#">Precio mas alto</option>
            <option value="#">Mas vendido</option>
            <option value="#">Oferta</option>
            </select>
        </section>
       
    </section>
</div>
<div class="row">
    <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_01.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price"><del>$2000</del> $1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_02.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_03.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_04.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_05.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_06.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_07.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_08.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_09.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_10.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
      <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_11.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
    <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_12.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
    <!--
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_13.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_14.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_15.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_16.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_17.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_18.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>

    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_19.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_20.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_21.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
         <a href="" class="col-m-4 col-s-6 products-box" >
        <img src="/Proyecto ecomerTech/IMG/producto_22.png" alt="imagen_1" width="200">
        <h5 class="hidden offer">Oferta</h5>
        <h3>Nombre Producto</h3>
        <strong class="price">$1000</strong>
        <button type="submit" class="boton_carrito">Agregar al Carrito</button>
    </a>
-->
   
</div>

<section>
    <ul class="pagination">
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">10</a></li>
    </ul>
</section>